<br>
<ul class="list-group">
    <li class="list-group-item">
        <div class="row" >
            <div class="col-1">
                #
            </div>
            <div class="col-2">
                first name:
            </div>
            <div class="col-2">
                last name:
            </div>
            <div class="col-2">
                phone:
            </div>
            <div class="col-2">
                days:
            </div>
        </div>
    </li>
    <li *ngFor="let volunteer of volunteersList" class="list-group-item" >
        <div class="row">
            <div class="col-1">
                {{volunteer.id}}
            </div>
            <div class="col-2">
                {{volunteer.firstName}}
            </div>
            <div class="col-2">
                {{volunteer.lastName}}
            </div>
            <div class="col-2">
                {{volunteer.phone}}
            </div>
            <div class="col-3">
                {{volunteer.days}}
            </div>
            <div class="col-1">
                <button (click)="selectVolunteer(volunteer.id)" class="btn btn-outline-danger">edit🖋️</button>
            </div>
        </div>
    </li>
</ul>
<br>